# *API*

In [ ]:
import os
import pandas as pd
import time
import googleapiclient.discovery
from googleapiclient import errors

# Antes de usar, voc√™ precisa de uma developer key do YT
DEVELOPER_KEY = "AIzaSyC-IGrurz9MApvHsM6WQ1BTtmVX7rnV9Co"


# Configura√ß√£o API
def api_builder():
    os.environ["OAUTHLIB_INSECURE_TRANSPORT"] = "1"
    api_service_name = "youtube"
    api_version = "v3"
    youtube = googleapiclient.discovery.build(
        api_service_name, api_version, developerKey=DEVELOPER_KEY)
    return youtube


def video_extractor(api):
    next_page_token = ''
    videos = []
    while True:
        request = api.videos().list(
            part="id",
            chart="mostPopular",
            regionCode="BR",
            pageToken=next_page_token
        )
        response = request.execute()

        for item in response["items"]:
            videos.append(item["id"])

        try:
            next_page_token = response["nextPageToken"]
        except KeyError:
            break
    return videos


def comments_extractor(api, videos, quantidade):
    next_page_token = ''  # Para come√ßar pela primeira pagina, este token deve ser nulo
    comments = []  # dar append coment√°rio por coment√°rio (sem suas respostas)
    switch = True
    max_comments = quantidade
    for video_id in videos:
        # if aqui talvez
        # Dentro de um v√≠deo
        if not switch:
            break
        while True:
            request = api.commentThreads().list(
                part="snippet",
                order="time",
                pageToken=next_page_token,  # p√°gina dos coment√°rios
                videoId=video_id
            )
            try:
                response = request.execute()
            except errors.HttpError:
                break

            for item in response['items']:
                if len(comments) < max_comments:
                    comments.append(item['snippet']['topLevelComment']['snippet']['textOriginal'])
                else:
                    switch = False
                    break

            if not switch:
                break

            # Quando terminar de adicionar os coment√°rios da p√°gina inicial(20), a API deve pegar o
            # token da pr√≥xima p√°gina, at√© que n√£o tenha mais token (ou seja, quando der erro)
            try:
                next_page_token = response['nextPageToken']
            except KeyError:
                break
    return comments


def main():
    quantidade = int(input("Digite a quantidade de videos que deseja extrair: \n"))
    start = time.time()
    api = api_builder()
    videos = video_extractor(api)
    comments = comments_extractor(api, videos, quantidade)

    print(f"{len(comments)} coment√°rios")
    # Transforma a lista em DataFrame e disponibiliza o arquivo em csv
    df = pd.DataFrame(comments, columns=['Coment√°rios'])
    df.to_csv("comentarios.csv", encoding='utf-8', index=False)

    end = time.time()
    exec_time = end - start
    print(f"Tempo de execu√ß√£o: {exec_time:.2f}s ")


if __name__ == "__main__":
    main()

# Tratamento

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import time

start = time.time()
# Importando o arquivo csv
df = pd.read_csv("/content/drive/MyDrive/ComentaÃÅrios_API/comentarios.csv", encoding='UTF-8')

# Criando uma nova coluna "lixo"
df["new"] = None

# Separando os conte√∫dos
for index, row in df.iterrows():
    comentarios = row['Coment√°rios']
    # Substituindo os caracteres especiais
    comentarios = str(comentarios)

    comentarios = comentarios.replace('[a-zA-Z√Ä-√ö√†-√∫ ]', '')
    # Verificando se √© somente caracteres alfab√©ticos
    if comentarios.isalpha():
        df.at[index, 'Coment√°rios'] = comentarios
    else:
        df.at[index, 'new'] = comentarios
        df.at[index, 'Coment√°rios'] = None

# Exibindo o resultado
display(df)

end = time.time()
exec_time = end - start
print(f"Tempo de execu√ß√£o: {exec_time:.2f}s ")

      Coment√°rios                                                new
0            None  Eu nunca pensei que fosse dizer isso algum dia...
1            None                      ARITANA DE OX√ìSSI üíö‚ô•Ô∏èüßö‚Äç‚ôÄÔ∏èüßö‚Äç‚ôÇÔ∏è
2            None                              Adson pai das meninas
3            None                       Corinthians  minha paix√£o ‚ù§Ô∏è
4            None  Mesmo que n√≥s perdemos estaremos fortes todo m...
...           ...                                                ...
59262        None  Melhor pessoa para fazer esses trabalhos tudoo...
59263        None  O problema da Joy n√£o √© a mala da ida, √© a mal...
59264        None  Boa Joyüíù acertaram mto com a Joy! Alegria sempreüçÄ
59265        None                                       Menina Joy ‚ù§
59266        None  nossa, com certeza pegaria x-salada + milk sha...

[59267 rows x 2 columns]

Tempo de execu√ß√£o: 4.86s

In [ ]:
print(df['new'])
null_values = df['new'].isna().sum()
print(f'{null_values.sum()} valores nulos')

0                                   Adson pai das meninas
1                            Corinthians  minha paix√£o ‚ù§Ô∏è
2       Mesmo que n√≥s perdemos estaremos fortes todo m...
3       Legal a transmiss√£o. Mas, este jogo merecia tv...
4       o S√£o Paulo n√£o podia ter perdido esse jogo......
                              ...
9995                                              ü•∞üòçü•∞üòçü•∞ü•∞ü•∞
9996                              That was life changing.
9997                             You are sigma mr beest üåç
9998                                              I cried
9999    FK MR BEAST FOR MAKING ME CRY. I THINK IMMA GO...
Name: new, Length: 10000, dtype: object
301 valores nulos

In [ ]:
# Substituir caracteres especiais por espa√ßos em branco
df['Coment√°rios'] = df['Coment√°rios'].str.replace('[a-zA-Z√Ä-√ö√†-√∫ ]', '')
# Null em coment√°rios vazios
df = df.dropna(subset=['Coment√°rios'])
# Filtrar apenas as strings com caracteres do alfabeto
novodf = df[df['Coment√°rios'].str.isalpha()]

null_values = novodf.isna().sum()
print(f'{null_values.sum()} valores nulos')

display(novodf)

15 valores nulos

<ipython-input-11-fb68d822cd53>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Coment√°rios'] = df['Coment√°rios'].str.replace('[a-zA-Z√Ä-√ö√†-√∫ ]', '')

             Coment√°rios   new
6113               –ª–∞–¥–Ω–æ  None
6694                ŸàŸÑŸÑŸá  None
7133                –ò–º–±–∞  None
7181                ÿßÿ≠ÿ®ŸÉ  None
7301           –ö—Ä–∞—Å–∞–≤—á–∏–∫  None
7527              –ª—É—á—à–∏–π  None
7712           –ú–µ–≥–∞—Ö–∞—Ä–æ—à  None
7771      „Åì„Çì„Å™Á•û„Åø„Åü„ÅÑ„Å™‰∫∫„Åå„ÅÑ„Çã„ÅÆ„Åã  None
7906              –ü—Ä–∏–≤–µ—Ç  None
8180        –ò–º–º–º–º–º–±–±–±–∞–∞–∞  None
9020              –õ—É—á—à–∏–π  None
9156             –ö—Ä–∞—Å–∞–≤–∞  None
9195  Êó•Êú¨‰∫∫„ÅÆ‰∏≠„Åß‰∏ÄÁï™„Åß„Ç≥„É°„É≥„Éà„Åó„Åü‰∫∫„Åß„Åô  None
9589           –ö—Ä–∞—Å–∞–≤—á–∏–∫  None
9620          „Å™„Çì„Å¶„ÅÑ„ÅÑ‰ºÅÁîª„Å™„Çì„Å†  None

# Sess√£o 2

In [ ]:
# Substituir caracteres especiais por espa√ßos em branco
df['Coment√°rios'] = df['Coment√°rios'].str.replace('[^a-zA-Z√Ä-√ö√†-√∫ ]', '')
# Null em coment√°rios vazios
df = df.dropna(subset=['Coment√°rios'])
# Filtrar apenas as strings com caracteres do alfabeto
novodf = df[df['Coment√°rios'].str.isalpha()]

null_values = novodf.isna().sum()
print(f'{null_values.sum()} valores nulos')

display(novodf)

0.0 valores nulos

<ipython-input-8-1a2a0afecdaa>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Coment√°rios'] = df['Coment√°rios'].str.replace('[^a-zA-Z√Ä-√ö√†-√∫ ]', '')
<ipython-input-8-1a2a0afecdaa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Coment√°rios'] = df['Coment√°rios'].str.replace('[^a-zA-Z√Ä-√ö√†-√∫ ]', '')

Empty DataFrame
Columns: [Coment√°rios, new]
Index: []

In [ ]:
from zmq.constants import NULL
import pandas as pd
import numpy as np
import re

"""Arquivo importato e removido valores nulos"""

df = pd.read_csv("/content/drive/MyDrive/ComentaÃÅrios_API/comentarios.csv", encoding='UTF-8')
new_df = df.dropna()

new_df = new_df.assign(NovaColuna = 0)

print("*"*50)

new_df["Comentarios"] = new_df['Comentarios'].str.replace('[a-zA-Z√Ä-√ö√†-√∫ ]', '')
NovaColuna = df.dropna()


new_df = new_df[new_df['Comentarios'].str.isalpha()]
display(new_df, NovaColuna)

**************************************************

<ipython-input-53-89f8dd4d619e>:15: FutureWarning: The default value of regex will change from True to False in a future version.
  new_df["Comentarios"] = new_df['Comentarios'].str.replace('[a-zA-Z√Ä-√ö√†-√∫ ]', '')

                                        Comentarios  NovaColuna
1                                               ÿ≥ÿ™ÿ©           0
4                                              ÿ≥ÿ®ÿπÿ©           0
18                                           Ï∞∞Îñ°Í∂ÅÌï©Ïù¥ÎÑ§           0
19      ŸÖÿßÿßŸÇÿØÿ±ÿßÿ∫Ÿäÿ±ÿßÿ≥ŸÖŸäŸàÿßÿ≠ÿ≥ÿÆŸÑÿßÿµŸÖÿßÿßŸÇÿØÿ±ÿßŸÜÿ™ÿ∏ÿ±ŸÑŸäŸÜÿßÿ≥ÿ®ŸàÿπŸäŸÜ           0
65                 ÿßŸÑŸÖÿ¥ŸÉŸÑÿ©ÿ•ŸÜŸäŸÇÿßÿπÿØÿßÿ≥ÿ±ÿ™ŸÖÿ®ŸÄŸäÿØŸäŸÖÿ®ÿ®ÿ±ÿ¨ŸàŸÑŸä           0
...                                             ...         ...
172787                    ùô∞ùöñùöòùöüùöíùöçùöéùöòùöçùöéùöñùöäùöùùöéùöõùöíùöäùöïùöéùöúùöåùöòùöïùöäùöõ           0
179574                                            ¬™           0
184808                                            √º           0
185950                                            ≈∫           0
195977                                            √ú           0

[7518 rows x 2 columns]

                                              Comentarios
0                                           Beautiful ‚ù§Ô∏èüòç
1                                                     ÿ≥ÿ™ÿ©
2       .                                             ...
3       This absolutely gonna be The one and only anth...
4                                                    ÿ≥ÿ®ÿπÿ©
...                                                   ...
196580                                     RAinbOWFriends
196581                                     Renbou friends
196582                                    #rainbowfriends
196583                                     RainbowFriends
196584                                     #ranbowfriends

[196545 rows x 1 columns]